---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Display from "../components/Display.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import H3 from "../components/H3.astro";
import H4 from "../components/H4.astro";
import P from "../components/P.astro";
---

<MainLayout title="Titel">
	<article class="">
		<h1>Index overskrift</h1>
		<Button>Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
		<Image src={thumbsup} alt="" />
	</article>
	<p class="m-5xl">
		<h1 class="p-8xl">
		<Display tekst="hejsa" />
		</h1>
		<H2 tekst="hejsa med digs" />
		<P tekst="virker det?" />
	</p>
	<h1 class="p-4">
		<H1 tekst="tester" />
	</h1>
	<h1 class="heading1">tester igen</h1>
	<h1 class="p-s border-4 border-red-300 rounded-[8px]">padding tester</h1>
</MainLayout>
