---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import P from "../components/P.astro";
import Card from "../components/Card.astro";
---

<MainLayout title="produktoversigt">
    <div class="mt-5xl">
    <Card/>
</div>

</MainLayout>