---
import { Image } from "astro:assets";
import logoBeige from "../assets/images/logo_beige.svg";
import formPil from "../assets/images/form_pil.svg";
---
<footer class="bg-blue-800 py-s md:py-lg flex flex-col md:gap-xl">
    <section class="px-m md:px-[70px] flex flex-col gap-[60px] md:flex-row md:justify-between">
    <div class="w-[312px] md:w-[347px] flex flex-col gap-xxs md:gap-xs">
        <p class="font-sans text-[15px] md:text-[20px] font-bold text-beige-500">Hold dig opdateret på nye designs</p>
        <form class="border-1 border-beige-500 flex justify-between rounded-[4px] md:rounded-[8px] px-xs py-[13px]">
            <input type="text" placeholder="Indtast email" class="bg-transparent border-0 placeholder-beige-500 placeholder-font-sans p-0 text-beige-500">
            <button><Image src={formPil} alt="pil" class="w-[18px] md:w-[24px]"/></button>
        </form>
    </div>
    <div class="flex flex-col gap-xxs md:gap-xs">
        <p class="font-sans text-[15px] md:text-[20px] font-bold text-beige-500">Nyttige links</p>
        <ul>
            <a href="#" class="font-sans text-[15px] md:text-[20px] text-beige-500 hover:underline hover:decoration-beige-500"><li>Handelsbetingelser</li></a>
            <a href="#" class="font-sans text-[15px] md:text-[20px] text-beige-500 hover:underline hover:decoration-beige-500"><li>Ofte stillede spørgsmål</li></a>
        </ul>
    </div>
    <div class="flex flex-col gap-xxs md:gap-xs">
        <p class="font-sans text-[15px] md:text-[20px] font-bold text-beige-500">Kontakt</p>
        <ul>
            <li class="font-sans text-[15px] md:text-[20px] text-beige-500">+45 22 35 62 21</li>
            <li class="font-sans text-[15px] md:text-[20px] text-beige-500">axtersstudio@gmail.com</li>
        </ul>
    </div>
    <div class="flex flex-col gap-xxs md:gap-xs">
        <p class="font-sans text-[15px] md:text-[20px] font-bold text-beige-500">Sociale medier</p>
        <ul>
            <a href="#" class="font-sans text-[15px] md:text-[20px] text-beige-500 hover:underline hover:decoration-beige-500"><li>Instagram</li></a>
            <a href="#" class="font-sans text-[15px] md:text-[20px] text-beige-500 hover:underline hover:decoration-beige-500"><li>TikTok</li></a>
        </ul>
    </div>
</section>
<section class="px-m md:px-[70px]">
    <div class="flex flex-col md:flex-row md:justify-between">
        <Image src={logoBeige} alt="logo Axters Studio" class="py-ml"></Image>
        <p class="font-sans text-[15px] md:text-[20px] text-beige-500 self-center pb-xxs md:-order-1 md:self-end">Copyright © 2025 Axters Studio</p>
        <p class="font-sans text-[15px] md:text-[20px] text-beige-500 self-center md:self-end">CVR. 50 50 50 50</p>
    </div>
</section>
</footer>
  