---
const { tekst, variant = "" } = Astro.props;

const variantClasses = {
	leftAligned: "text-left",
	rightAligned: "text-right",
	centerAligned: "text-center",
};
---

<h1 class:list={[variantClasses[variant]]} class="font-display text-red-950 text-[45px] md:text-[100px] uppercase">{tekst}</h1>
