---
const { tekst = "", color = "" } = Astro.props;

const colorClasses = {
	darkRed: "text-red-950",
	lightBeige: "text-beige-500"
};
---

<h4 class:list={[colorClasses[color]]} class="font-sans text-[13px] md:text-[16px] uppercase">{tekst}</h4>
