---
import { Image } from "astro:assets";
import logo from "../assets/images/logoGraablaa.svg";
import kurv from "../assets/images/KurvIkonBlaa.svg";
---

<header x-data="{ showmenu: false }" class="w-full h-lg md:h-3xl bg-beige-500 fixed z-50 top-0">
	<div id="navbar" class="top-0 flex flex-row items-center justify-between px-xs py-xs md:px-xs md:py-xs bg-beige-500">
		<!-- Logo -->
		<div class="w-3/12 md:w-1/12">
			<a href="/">
				<Image src={logo} alt="Axters Studio logo" />
			</a>
		</div>

		<!-- Desktop Menu -->
		<nav id="desktopmenu" class="hidden lg:flex flex-1 justify-center" x-data="{ currentPath: window.location.pathname + window.location.hash }">
			<ul class="flex flex-row gap-lg items-center">
				<a href="/listview" class="text-blue-800 hover:underline hover:decoration-blue-800" :class="{ 'underline decoration-blue-800': currentPath === '/listview' }"><li>Shop</li></a>
				<a href="/om" class="text-blue-800 hover:underline hover:decoration-blue-800" :class="{ 'underline decoration-blue-800': currentPath === '/om_os' }"><li>Om</li></a>
				<a href="/index#inspiration" class="text-blue-800 hover:underline hover:decoration-blue-800 active:underline" :class="{ 'underline decoration-blue-800': currentPath === '/index#inspiration' }"><li>Inspiration</li></a>
			</ul>
		</nav>

		<div class="flex items-center gap-sm">
			<ul class="flex items-center md:pl-2xl">
				<Image src={kurv} alt="profilikon" class="w-[40px] md:w-[20px]" />
			</ul>

			<!-- Hamburger Menu Button -->
			<button id="burgermenu" class="lg:hidden w-full z-50" x-on:click="showmenu = !showmenu">
				<svg x-show="!showmenu" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 14 10" fill="none">
					<path d="M1 1H13M1 5H13M1 9H13" stroke="#434D50" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
				<svg x-show="showmenu" class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
					<path d="M6 6L20 20M20 6L6 20" stroke="#434D50" stroke-width="1" stroke-linecap="round"></path>
				</svg>
			</button>
		</div>
	</div>

	<!-- Mobile Menu -->
	<nav id="mobilmenu" class="lg:hidden sticky left-0 w-full h-screen z-40 pb-20 text-blue-800 bg-beige-500 flex flex-col pt-ml" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click="showmenu = false">
		<ul class="flex flex-col pl-[20px] gap-xs bg-beige-500">
			<a href="/listview"><li>Shop</li></a>
			<a href="/om"><li>Om</li></a>
			<a href="/forside#Inspiration"><li>Inspiration</li></a>
		</ul>
	</nav>
</header>
