---
const { tekst = "", variant = "" } = Astro.props;

const variantClasses = {
	leftAligned: "text-left",
	centerAligned: "text-center",
};
---

<p class:list={[variantClasses[variant]]} class="font-sans text-red-950 text-[13px] md:text-[16px] font-light max-w-[62ch]">{tekst}</p>
